
.cover-image{
  width: 35%;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

*{
  font-family: 'Poppins', sans-serif;
}
.movie_card{
  padding: 0 !important;
  width: 22rem;
  margin:14px; 
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 33rem;
}
.movie_info{
  color: #5e5c5c;
}

.movie_info i{
  font-size: 20px;
}
.card-title{
  width: 80%;
  height: 4rem;
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3 {
  padding : 2px;
  text-align:center;
}

p {
  text-align:center;
}
.box {
  text-align:center;
}
.movie-container {
  text-align:center;
}

