<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
  </head>

  <body style ="background-color:powderblue">
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">Home</a>
      
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        {% if current_user.is_authenticated and current_user.staff == 1%}
          <span class="nav-item "><a class="nav-link " href="/staffchoosefilm">Make Booking</a></span>
        {% endif %}
          <li class="nav-item"><a class="nav-link" href="/listings">Listings</a></li>
        </ul>
        {% if not current_user.is_authenticated %}
          <span class="nav-item "><a class="nav-link " href="/login">Login</a></span>
          <span class="nav-item "><a class="nav-link " href="/signup">Signup</a></span>
        {% endif %}
        {% if current_user.is_authenticated and current_user.staff == 0 %}
          <span class="nav-item "><a class="nav-link " href="/mybookings">My Bookings</a></span>
          <span class="nav-item "><a class="nav-link " href="/logout">Logout</a></span>
        {% endif %}
        {% if current_user.is_authenticated and current_user.staff==1 %}
          <span class="nav-item "><a class="nav-link " href="/logout">Logout</a></span>
        {% endif %}

      </div>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>