{% extends "base.html" %}
{% block content %}
<h1>Card Payment - enter customer's details</h2>
<h2>This is a booking for :<p style="color:red"><b>{{currentMovie.movieName}}</b> </p>on <span style="color:red" ><b>{{date}}</b></span> at <span style="color:red"><b>{{time}}</b></span></h2>
<h3>Order details : </h3>
<h3>{{form.children.data}} x children = £{{totalKids}}</h3>
<h3>{{form.adults.data}} x adults = £{{totalAdults}}</h3>
<h3>{{form.seniors.data}} x seniors = £{{totalSeniors}}</h3>
<h3>Total Cost : <b>£{{totalCost}}</b></h3>

<div class="booking-grid">
    {% for screening in allScreenings %}
    <button class="btn btn-primary btn-block" type="submit" id="{{screening.time}}" onclick="window.location.href='../paymentconfirmation';">{{screening.time}}</button>
    {% endfor %}
</div>

<form action="/staffcardpaymentconfirmation" method="post" name="payment">
    {{ paymentForm.hidden_tag() }}
    {{ paymentForm.date(value=date, class="d-none") }}
    {{ paymentForm.time(value=time, class="d-none") }}
    {{ paymentForm.movieID(value=currentMovie.id, class="d-none") }}
    {{ paymentForm.children(value=form.children.data, class="d-none")}}
    {{ paymentForm.adults(value=form.adults.data, class="d-none")}}
    {{ paymentForm.seniors(value=form.seniors.data, class="d-none")}}
    {{ paymentForm.totalCost(value=totalCost, class="d-none")}}
    <p>
       Card Number : {{ paymentForm.cardNumber }}<br>
    </p>
    <p>CVV : {{ paymentForm.cvv }}</p>
    <p>Expiry Date (MM/YY): {{ paymentForm.expiryDate }}</p>
    <p><input type="submit" value="Make Payment"></p>
</form>





{% endblock %}