{% extends "base.html" %}

{% block content %}
<h2 align="center">Cash Payment</h2>
</br>
<h2>This is a booking for :<p style="color:red"><b>{{currentMovie.movieName}}</b> </p>on <span style="color:red" ><b>{{date}}</b></span> at <span style="color:red"><b>{{time}}</b></span></h2>
<h3>Order details : </h3>
<h3>{{form.children.data}} x children = £{{totalKids}}</h3>
<h3>{{form.adults.data}} x adults = £{{totalAdults}}</h3>
<h3>{{form.seniors.data}} x seniors = £{{totalSeniors}}</h3>
<h3>Total Cost : <b>£{{totalCost}}</b></h3>
<!--<p id="totalCost">{{totalCost}}</p>-->

<div class="booking-grid">
    {% for screening in allScreenings %}
    <button class="btn btn-primary btn-block" type="submit" id="{{screening.time}}" onclick="window.location.href='../paymentconfirmation';">{{screening.time}}</button>
    {% endfor %}
</div>
</br>
<form action='/staffcashpaymentconfirmation' method="POST" name="payment">
    {{form.totalCost(value=totalCost, class="d-none")}}
    <h3>Enter amount given : {{form.paymentAmount}}</h3>
    <p><input type="submit" value="Calculate Change"></p>
</form>


<!--<p>Enter Amount Given : <input type="number" id="amount" name="amount"></p><br><br>
<button class="btn btn-primary" type="submit" float="left" >Calculate Change</button>
<p id="changeDue"></p>-->



<script>
    /*function calculateChange() {
        amountPaid = document.getElementById('amount').innerHTML;
        totalCost = document.getElementById('totalCost').innerHTML;
        alert(totalCost)
        changeDue = amountPaid - parseInt(totalCost);
        document.getElementById('changeDue').innerHTML = changeDue;
    }*/




</script>


{% endblock %}