{% extends "base.html" %}

{% block content %}

<h2>These are the times available for {{currentMovie.movieName}} on {{date}}</h2>
<div class="booking-grid text-center">
    {% for screening in allScreenings %}
    <button class="btn btn-primary" type="submit" id="{{screening.time}}">{{screening.time}}</button>
    {% endfor %}
</div>
</br>
</br>

<h3>Please pick time and number of tickets</h3>
<form action="/choosetime" method="post" name="customers">
    {{ form.hidden_tag() }}
    {{ form.date(value=date, class="d-none") }}
    {{ form.movieID(value=currentMovie.id, class="d-none") }}
    <p> Time : {{form.times}}</p>
    <p>Adults (£9.95): {{ form.adults }}</p>
    <p>Children (Under 16) (£6.95): {{ form.children }}</p>
    <p>Senior (Over 65) (£5.95): {{ form.seniors }}</p>
    <p><input type="submit" value="Make Payment"></p>
</form>





{% endblock %}