
{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
     {% for message in messages %}
      <div class="alert alert-warning" role="alert">
        {{message}}
      </div>
     {% endfor %}
  {% endif %}
{% endwith %}
<div class="container mt-5">
  <h2 class="text-center">Movies available to book</h2>
  
  <div class="row justify-content-center">
    {% for movie in allMovies %}
    <div class="card movie_card">
    
      <img src="../static/{{movie.id}}.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ movie.movieName }}</h5>
        <a href="{{ url_for('movie', movie_id=movie.id) }}" class="fas fa-info-circle fa-lg" data-toggle="tooltip" title="More Details"></a>
          <span class="movie_info">Rating : {{movie.ageRating}}</span>
          <span class="movie_info float-right">Length : {{movie.length}} MINS</span>
          
      </div>
      
    </div>
    {% endfor %}
    </div>
</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
  })
  </script>
{% endblock %}
