{% extends "base.html" %}

{% block content %}

 
<div class="movie-container">
    
    <h1 class="movie-title"> 
        {{ currentMovie.movieName }} 
    </h1>
    </br>
    <img class = "cover-image" src = "/static/cover{{currentMovie.id}}.jpg"/>
    <h3> {{ currentMovie.movieDescription }} </h3>
    </br>
    <h5>Rating : {{ currentMovie.ageRating }} </h5>
    <h5>Length : {{ currentMovie.length }}  minutes long </h5>
    <h5>Director : {{ currentMovie.director }}  </h5>
    <h5>Lead Actor : {{ currentMovie.leadActor }}  </h5>
        

    </br>
    
    <h3>Which date would you like to make a booking for?</h3>


        <textarea hidden="true" id="currentID">{{currentMovie.id}}</textarea>
        <button class="btn btn-primary" type="submit" float="left" onclick="getPreviousDay()"><</button>
        <button class="btn btn-primary" type="submit" float="left" onclick="getToday()" id="today">Today</button>
        <button class="btn btn-primary" type="submit" float="left" onclick="getTomorrow()">Tomorrow</button>
        <button class="btn btn-primary" type="submit" float="left" onclick="getNextDay()">></button>
        <textarea id="currentDate" name="currentDate" rows="1" cols="10" value="today"></textarea>
        <button id="showTimes">Show Times</button>
        
</br>
</br>
        <div class="booking-grid">
            {% for screening in allScreenings %}
            <button class="btn btn-primary" type="submit" id="{{screening.time}}">{{screening.time}}</button>
            {% endfor %}
        </div>
    
    <script>

        var theDate = new Date();

        window.onload = function(){
            document.getElementById('currentDate').innerHTML = new Date().toLocaleDateString();
        };

        

        function getToday() {
            today = new Date();
            theDate = today;
            fToday = today.toLocaleDateString();
            
            document.getElementById('currentDate').innerHTML=fToday;
        }

        function getTomorrow() {
            today = new Date();
            today.setDate(today.getDate() + 1);
            theDate = today;
            tomorrow = today.toLocaleDateString();
            
            document.getElementById('currentDate').innerHTML=tomorrow;
        }

        function getNextDay() {
            today = new Date(theDate);
            today.setDate(today.getDate() + 1);
            theDate = today;
            nextDay = today.toLocaleDateString();
            document.getElementById('currentDate').innerHTML=nextDay;
        }
        
        function getPreviousDay() {
            today = new Date(theDate);
            today.setDate(today.getDate() - 1);
            /*if (today < (new Date().getDate() + 1)) {
                window.alert("Day has already passed!");
            }*/
            theDate = today;
            prevDay = today.toLocaleDateString();
            document.getElementById('currentDate').innerHTML=prevDay;
        }

    </script> 


    <script>
        $(document).ready(function () {
            var movie = $("#currentID").val();
            
            $("#showTimes").click(function () {
                  var date = $("#currentDate").val();
                  

        $.ajax({
            url: '/respond',
            type: 'POST',
            data: JSON.stringify({date : date, movie : movie}),
            contentType: "application/json; charset=utf-8",
            success: function(response) {
                document.write(response)
            },
            error: function(response){
                console.log('error')
            }
        });
    });
});

    </script>



{% endblock %}

     


