{% extends "base.html" %}

{% block content %}
<h1 align="center">You have successfully booked {{form.adults.data}} adult tickets, {{form.children.data}} child tickets and {{form.seniors.data}} senior tickets.</h1>
<h2 align="center">To view all your tickets, go to the <a href="/mybookings">My Bookings</a> page</h2>
{% endblock %}