{% extends "base.html" %}

{% block content %}
<h2 align="center">Choose film</h2>
</br>
<form action="/staffchoosetime" method="post" name="choosefilm">
    {{form.hidden_tag()}}
    <p>Choose Film : {{ form.movies }}</p>
    <p><input type="submit" value="Show Dates"></p>
</form>

{% endblock %}